.hero {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 19px 24px;
  border-radius: 24px;
  box-shadow: 0px 0.2px 0.5px 0px #00000040;
}

.hero h2 {
  margin-bottom: 8px;
  color: #030303;
  font-size: 36px;
}

.hero p {
  color: #7B8BB3;
  font-size: 18px;
}

.primaryBtn {
  margin-top: 66px;
  background: #0E2B72;
  padding: 12px 16px;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.heroRightHeader,
.heroRightStats {
  display: flex;
}

.heroRightHeader {
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.heroRightHeader p,
.heroRightStats p {
  color: #7E838B;
}

.heroRightHeader span {
  color: #A9ACB199;
}

.heroRightHeader h3 {
  color: #0E2B72;
}

.heroRightStats > div {
  padding: 0 24px;
}

.heroRightStats p {
  font-size: 18px;
  font-weight: 500;
}

.heroRightStats h3 {
  color: #1C1C1C;
  font-size: 32px;
  font-weight: 500;
}

.heroRightStats > div:not(:last-child) {
  border-right: 1px solid #DFE0E2;
}

/* Tablet */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    gap: 24px;
  }

  .heroRight {
    align-items: flex-start;
    gap: 16px;
  }

  .heroRightStats {
    width: 100%;
    justify-content: space-between;
  }

  .heroRightStats > div {
    padding: 0 12px;
  }

  .primaryBtn {
    margin-top: 24px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
  }

  .heroRightHeader {
    font-size: 12px;
  }

  .heroRightStats p {
    font-size: 14px;
  }

  .heroRightStats h3 {
    font-size: 22px;
  }
}