.page {
  background: #EBEFF9;
  padding: 12px 22px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Tablet */
@media (max-width: 1024px) {
  .page {
    padding: 12px 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .page {
    padding: 10px 12px;
    gap: 16px;
  }

  .container {
    gap: 16px;
  }
}